<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <connectionStrings>  
    <!-- Connection String -->
    <add name="ConnectionString" connectionString="Server=94.130.88.60\SQL2016,2016;Database=archtec2_decowall;Uid=archtec2_enterV13;Password=Admin@123;"/>
  </connectionStrings>
  <appSettings>
    <add key="CRUDCommands" value="StoredProcedure"/>
  </appSettings>
  
  

  <system.web>
    <!-- Step I) to increase upload file size (by default is 4MB) in KB-->
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600"/>
    
    <compilation debug="true" targetFramework="4.5"/>

    <!-- cancel url validation test -->
    <pages validateRequest="false" />
    
    <!--<pages controlRenderingCompatibilityVersion="4.0"/>-->
  </system.web>

  <!-- Step II) to increase upload file size (by default is 4MB) needs also add these lines in bytes-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  
  
</configuration>